@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Interr';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: Interr;
}